.comments {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
}

.comments button {
  font: inherit;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #457b9d;
  border: 1px solid #457b9d;
  cursor: pointer;
}

.comments button:hover,
.comments button:active {
  background-color: #dcfff9;
}